<?xml version="1.0" encoding="utf-8"?>
<android.support.design.widget.CoordinatorLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:fitsSystemWindows="true">
    <android.support.design.widget.AppBarLayout
        android:id="@+id/app_bar"
        android:layout_width="match_parent"
        android:layout_height="300dp"
        android:fitsSystemWindows="true"
        android:theme="@style/AppTheme.AppBarOverlay">
        <android.support.design.widget.CollapsingToolbarLayout
            android:id="@+id/toolbar_layout"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:fitsSystemWindows="true"
            app:contentScrim="?attr/colorPrimary"
            app:layout_scrollFlags="scroll|exitUntilCollapsed">
            <LinearLayout
                android:orientation="vertical"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                app:layout_collapseMode="parallax"
                app:layout_collapseParallaxMultiplier="0.7">
                <LinearLayout
                    android:layout_width="match_parent"
                    android:orientation="horizontal"
                    android:layout_height="wrap_content">
                    <TextView
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:textSize="19sp"
                        android:textColor="@android:color/white"
                        android:text="name"
                        android:gravity="center_vertical"
                        android:layout_weight="0.5" />
                    <TextView
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:textSize="18sp"
                        android:textColor="@android:color/white"
                        android:text="name"
                        android:gravity="center_vertical"
                        app:MvxBind="Text UserName"
                        android:layout_weight="0.5" />
                </LinearLayout>
                <LinearLayout
                    android:layout_width="match_parent"
                    android:orientation="horizontal"
                    android:layout_height="wrap_content">
                    <TextView
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:textSize="19sp"
                        android:textColor="@android:color/white"
                        android:text="id"
                        android:layout_weight="0.5" />
                    <TextView
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:textSize="19sp"
                        android:textColor="@android:color/white"
                        android:text="id"
                        app:MvxBind="Text Id"
                        android:gravity="center_vertical"
                        android:layout_weight="0.5" />
                </LinearLayout>
                <LinearLayout
                    android:layout_width="match_parent"
                    android:orientation="horizontal"
                    android:layout_height="wrap_content">
                    <TextView
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:textSize="19sp"
                        android:textColor="@android:color/white"
                        android:text="email"
                        android:gravity="center_vertical"
                        android:layout_weight="0.5" />
                    <TextView
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:textSize="19sp"
                        android:textColor="@android:color/white"
                        android:text="email"
                        app:MvxBind="Text Email"
                        android:gravity="center_vertical"
                        android:layout_weight="0.5" />
                </LinearLayout>
                <LinearLayout
                    android:layout_width="match_parent"
                    android:orientation="horizontal"
                    android:layout_height="wrap_content">
                    <TextView
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:textSize="19sp"
                        android:textColor="@android:color/white"
                        android:text="balance"
                        android:layout_gravity="center_vertical"
                        android:gravity="center_vertical"
                        android:layout_weight="0.5" />
                    <TextView
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:textSize="29sp"
                        android:textColor="@android:color/white"
                        android:text="500"
                        app:MvxBind="Text Balance"
                        android:gravity="center_vertical"
                        android:layout_weight="0.5" />
                </LinearLayout>
            </LinearLayout>
            <android.support.v7.widget.Toolbar
                android:id="@+id/toolbar"
                android:layout_width="match_parent"
                android:layout_height="?attr/actionBarSize"
                app:layout_collapseMode="pin"
                app:popupTheme="@style/AppTheme.PopupOverlay" />
        </android.support.design.widget.CollapsingToolbarLayout>
    </android.support.design.widget.AppBarLayout>
    <MvvmCross.Droid.Support.V7.RecyclerView.MvxRecyclerView
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        app:MvxItemTemplate="@layout/trans_item"
        app:layout_behavior="@string/appbar_scrolling_view_behavior"
        app:MvxBind="ItemsSource TransTokenItemsList; ItemClick TransTokenItemClick" />
    <android.support.design.widget.FloatingActionButton
        android:id="@+id/fab"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_margin="16dp"
        app:layout_anchor="@id/app_bar"
       
           app:layout_anchorGravity="bottom|right|end"
        app:srcCompat="@drawable/if_usd_1608712"
        app:MvxBind="Click CreateTransCommand" />
</android.support.design.widget.CoordinatorLayout>